.board {
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  border: 1px solid #fff;
  border-radius: 0px;
  width: 600px;
  height: 600px;
  position: fixed;
  top: 8rem;
  left: 40rem;
}
