.board {
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  border: 1px solid #fff;
  border-radius: 0px;
  width: 40em;
  height: 40em;
  position: absolute;
  top: 10%;
  left: 20%;
  z-index: -100;
}
