.board {
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  border: 1px solid #fff;
  border-radius: 0px;
  width: 640px;
  height: 640px;
  position: absolute;
  top: 8rem;
  left: 40rem;
  z-index: -100;
}
