
.message {
    font-size: 50px;
    display: flex;
    justify-content: center;
    font-family: Helvetica;
    font-weight: bold;
    color: #123;
}


.button {
    background-color: #123;
    color: white;
    border-radius: 10px;
    height: 75px;
    width: 200px;
    font-size: 30px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);;
}

.button:hover {
    background-color: green;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}