.square {
    background: transparent;
    border: 1px solid transparent;
    padding: 0px;
    width: 75px;
    height: 75px;
    position: relative;
}

.row-index {
    position: absolute;
    top: 2px;
    right: 2px;
}

.col-index {
    position: absolute;
    bottom: 2px;
    left: 2px;
}

.dark-index {
    color: peru;
}

.light-index {
    color: bisque
}

.dark-square {
    background-color: peru;
}

.light-square {
    background-color: bisque;
}