.square {
    background: transparent;
    /* border: 1px solid red; */
    padding: 0px;
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
}

.row-index {
    position: absolute;
    top: 2px;
    right: 2px;
}

.col-index {
    position: absolute;
    bottom: 2px;
    left: 2px;
}

.dark-index {
    color: peru;
}

.light-index {
    color: bisque
}

.dark-square {
    background-color: peru;
}

.light-square {
    background-color: bisque;
}
