.square {
    background: transparent;
    border: 1px solid transparent;
    padding: 0px;
    width: 75px;
    height: 75px;
}

.dark-square {
    background-color: peru;
}

.light-square {
    background-color: bisque;
}